# TODO: this file will work with direnv to create and load a virtual
#  python environment when you change to the package director in a
#  terminal shell. See https://direnv.net for instructions on how
#  to install and set this up.
layout python /usr/local/bin/python3.9
